---
---
@import "minima";
.site-header{
    background-color: black;
}
.site-title{
    margin-left: 220px;
}
.site-title, .site-title:visited {
    color:white;
}
.site-nav .page-link {
    color: white;
    margin-right: 125px;
}
.site-footer{
    padding-top: 60px;
    background-color: black;
}
.social-links{
    padding-top: 40px;
}
.p-name, .footer-col, .one-half{
    color: white;
}
.pagination a, .pagination span {
    padding: 7px 18px;
    color: white;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #000000;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }
 dl {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 20px;
  }
  
  dt {
    align-self: flex-start;
    width: 100%;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 130px;
  }
  
  .text {
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 40px;
    width: 130px;
    background-color: white;
    position: absolute;
    left: 0;
    justify-content: flex-end;
  }
  
  .percentage {
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    margin-left: 130px;
    background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 5%
  );
    
    &:after {
      content: "";
      display: block;
      background-color: black;
      width: 50px;
      margin-bottom: 10px;
      height: 90%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .3s ease;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      &:after {
         background-color: #aaa; 
      }
    }
  }
  
  @for $i from 1 through 100 {
    .percentage-#{$i} {
      &:after {
        $value: ($i * 1%);
        width: $value;
      }
    }
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
  }
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    padding-top: 20px;
    text-align: center;
    background-color:  #f1f1f1;
    height: 200px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  /*------------------------*/
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  p {
    font-size: 13px;
  }
  
  a:hover{
    background: #2C3E50;
    color: black;
  }
  
  a:hover .thecard {
    box-shadow: 0 10px 50px rgba(0,0,0,.6);
  }
  
  .thecard {
    width: 300px;
    margin-right: auto;
    margin-left: 20px;
    box-shadow: 0 1px 30px rgba(0,0,0,.4);
    display: block;
    background-color: #fff;
    border-radius: 4px;
    transition: 400ms ease;
  }

  .card-img {
    height: 225px;
  }
  
  .card-img img {
    width:100%;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card-caption {
    position: relative;
    background: #ffffff;
    padding: 15px 25px 5px 25px;
    border-radius: 0px 0px 4px 4px;
  }
  
  .card-outmore {
    padding: 10px 25px 10px 25px;
    border-radius: 0px 0px 4px 4px;
    border-top: 1px solid #e0e0e0;
    background: #efefef;
    color: #222;
    display: inline-table;
    width: 100%;
    box-sizing: border-box;
    transition: 400ms ease;
  }

  
  span.date {
    font-size: 10px;
  }
  
  h1 {
    font-size: 22px;
  }
  
  h5 {
    margin:0;
  }
  * {
    box-sizing: border-box;
  }
  
  .container {
    padding: 64px;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  /* 2/3 column */
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  
  /* 1/3 column */
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }
  /* Float four columns side by side */
.columnJ {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.rowJ {margin: 0 -5px;}

/* Clear floats after the columns */
.rowJ:after {
  content: "";
  display: table;
  clear: both;
}