<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
     {%- include header.html -%}
    <h1>Objavené</h1>
  <div class="rowJ">
    {% for post in site.journals %}
    <div class="columnJ">
        <div class="thecard">
          <div class="card-img">
            <img src="{{ post.image }}">
          </div>
          <div class="card-caption">
            <span class="date">{{ post.dueDate }}</span>
            <a href="{{ post.url }}" ><h1> {{ post.title | smartify }} </h1></a>
          </div>
        </div>
    </div>
    {% endfor%}
  </div>
    <br>
    <hr>
    <h1>Neobjavené</h1>
    <h2>Coming soon...</h2>
</body>

